nxts.io/minion.io/go.sum
minion/files/test/__pycache__
minion/files/src/__pycache__
minion/files/src/version
nxts.io/files/test/__pycache__
istio_client/__pycache__
istio_yaml/__pycache__
nxts.io/bin/minion.io
nxts.io/files/version
